.btns button:hover:nth-child(1),
.btns button:hover:nth-child(3){
  background-color:#03AEFD;
  color: white;
  /* border:#03AEFD */
}
.btns button:hover:nth-child(2){
  background-color:transparent;
  color: #03AEFD;
  border: 1px solid #03AEFD;
}
.imgRooms{
  /* background-color: #03AEFD; */
}