.box_testy{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: transform 0.5s ease;
  position: relative;
}
.arrowHover:hover{
  background-color: #4361EE;
  color: white;
}
.arrowHover:hover .arrowIcon {
  color: white;
}


