.whoare .boxes{
  padding:2rem 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.images{
  width: 300px;
  height: 500px;
}
.img-sm{
  width: 277px;
  height: 280px;
}
.img-sm2{
  width: 277px;
  height: 180px;
}
.images img,
.img-sm img,
.img-sm2 img{
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:1.5rem;
}
